<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
	<resultMap id="board" type="com.mycompany.BBScustom.dto.BoardDto">
		<result property="idx" column="idx"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="bdname" column="bdname"/>
		<result property="bddate" column="bddate"/>
		<result property="bdgroup" column="bdgroup"/>
		<result property="step" column="step"/>
		<result property="indent" column="indent"/>
		<result property="hit" column="hit"/>
	</resultMap>
	
	<select id="getBoardList" resultMap="board">
		SELECT
			idx, title, content, id, hit, bddate, bdgroup, step, indent
		FORM BOARD
	</select>
</mapper>