<mapper namespace="Board">
	<resultmap id="selectBoardList" type="com.sample.board.dto.BoardDto">
		<result property="idx" column="idx"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="bdname" column="bdname"/>
		<result property="bddate" column="bddate"/>
		<result property="bdgroup" column="bdgroup"/>
		<result property="step" column="step"/>
		<result property="indent" column="indent"/>
		<result property="hit" column="hit"/>
	</resultmap>
	
	<select id="getBoardList" resultmap="boardMap">
		SELECT
			idx, title, content, id, hit, bddate, bdgroup, step, indent
		FORM BOARD
	</select>
</mapper>