<mapper namespace="Board">
	<resultmap id="selectBoardList" type="com.sample.board.dto.BoardDto">
		<result property="idx" column="idx"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="id" column="id"/>
		<result property="hit" column="hit"/>
		<result property="date" column="date"/>
		<result property="boardgroup" column="boardgroup"/>
		<result property="step" column="step"/>
		<result property="intent" column="intent"/>
	</resultmap>
	
	<select id="getBoardList" resultmap="boardMap">
		SELECT
			idx, title, content, id, hit, date, boardgroup, step, intent
		FORM BOARD
	</select>
</mapper>